html,
body {
  margin: 0;
  height: 98%; /* Slightly shorter than 100 for fade-in. */
}

body {
  display: flex;
  flex-direction: column;
  background-color: #5e7f64;
  color: white;
  padding: 0;
}

main {
  display: flex;
  flex-grow: 1;
  gap: 2vw;
  align-items: center;
  justify-content: center;
  animation: 1.2s fadeUpAndIn;
}

div#image-wrapper {
  display: flex;
  width: 23vw;
}

div#mobile-image-wrapper {
  display: none;
}

div#name-image-wrapper {
  display: flex;
  flex-direction: row;
}

div#text-content {
  display: flex;
  width: 40vw;
  justify-content: space-between;
  align-content: space-between;
  gap: 2.5vh;
  flex-direction: column;
}

img#me {
  object-fit: contain;
  height: 100%;
  width: 100%;
  transform: rotate(10deg);
}

h1 {
  font-family: Montserrat-Alternates, monospace;
  font-size: 10vh;
  display: inline;
  margin: 0;
  padding: 0;
  color: #eabbaf;
}

h2 {
  font-family: Anonymous-Pro, monospace;
  font-size: 3.5vh;
  display: inline;
  margin: 0;
  padding: 0;
}

p {
  font-family: Amiko, arial, sans-serif;
  font-size: 1.6vh;
  margin: 0;
  padding: 0;
  line-height: 2.8vh;
}

a {
  color: white;
  text-decoration-color: #eee;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
  transition: 0.2s;
}

a:hover {
  color: #eabbaf;
  text-decoration-color: #eabbaf;
}

@keyframes fadeUpAndIn {
  0% {
    opacity: 0;
    transform: translateY(2vh);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeUpAndIn {
  0% {
    opacity: 0;
    transform: translateY(2vh);
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: Montserrat-Alternates;
  src: url(fonts/Montserrat_Alternates/MontserratAlternates-LightItalic.ttf);
}

@font-face {
  font-family: Anonymous-Pro;
  src: url(fonts/Anonymous_Pro/AnonymousPro-Italic.ttf);
}

@font-face {
  font-family: Amiko;
  src: url(fonts/Amiko/Amiko-Regular.ttf);
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column !important;
  }

  div#text-content {
    order: 1;
    width: 90vw;
  }

  div#image-wrapper {
    display: none;
  }

  div#mobile-image-wrapper {
    display: inline-block;
    margin-right: 20px;
  }

  h1 {
    font-size: 15vw;
  }
}
